includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	# TODO
	#level: max
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- scripts-to-footer.php
		- includes/
	ignoreErrors:
		- '#^Property STF_Admin::\$version is never read, only written\.$#'
		- '#^Property STF_Public::\$plugin_name is never read, only written\.$#'
		- '#^Property STF_Public::\$version is never read, only written\.$#'
		- '#^Property STF_Public::\$header_scripts \(array\) in isset\(\) is not nullable\.$#'
		- '#^Result of \&\& is always false\.$#'
		- '#^Right side of \&\& is always false\.$#'
