includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
# TODO    level: max
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/bootstrap.php
	scanFiles:
        - includes/functions.php
    scanDirectories:
        - includes/
    paths:
        - includes/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
